useDynLib(ToxicRToo, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(forcats,fct_reorder)
importFrom("methods", "new", "is", "isClass")
importFrom("utils", "str")
importFrom("coda", "effectiveSize", "geweke.diag", "as.mcmc")
importFrom("actuar", "rinvgauss")
###############################
# Necessary Packages
###############################
importFrom(doBy, summaryBy)
import(multcomp)
import(scales)
import(ggplot2)
import(remotes)
importFrom(dplyr,"filter","%>%","select","mutate")
importFrom("stats", "aov", "as.formula", "coefficients", "cor.test",
    "density", "lm", "pchisq", "pgamma", "pnorm", "qnorm",
    "quantile", "sd", "splinefun", "var")

# Added two additional package 2012/12/08 SL
import(ggridges)
###############################
